.footer__column-link {
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  text-decoration: none;
  color: #fff;
  transition: opacity 0.15s ease;
}

.footer__column-link:hover {
  opacity: .7;
}
