.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  position: relative;
  display: flex;
  /* align-items: flex-start; */
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
/*.header__square-pic {
  height: 568px;
  width: 568px;
}*/

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
  /*сначала хотел ч/з фоновое изображение подключить лого, решил ч/з img в html*/
  /*background-image: url('../images/logo_place_header.svg');*/
}

.title {
  width: 730px;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
}

.header__title_place {
  /* display: inline-block; */
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  position: relative;
  left: 64px;
  /* align-self: center; */
  z-index: 2;
  /* text-align: justify; */
  /* white-space: pre-wrap; */
}

.header__title_h1 {

}

.subtitle {
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  width: 388px;
}

.header__subtitle {
  /* margin: 0; */
  /* padding: 0; */
  position: absolute;
  /* display: flex; */
  /* flex-flow: column wrap; */
  /* display: inline-block; */
  /* сомневаюсь насчет inline-block */
  bottom: 30px;
  left: 64px;
  z-index: 2;
  text-align: justify;
  /* white-space: pre-wrap; */
}

.link {
  display: inline;
  /* сомневаюсь насчет inline */
  color: #2f80ed;
  position: absolute;
  bottom: 30px;
  left: 64px;
}

.header__link_a {
  text-decoration: none;
}

.main-illustration {
  width: 765px;
  height: 608px;
}

.header__main-illustration {
  display: flex;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 1;
  /* background-size: contain; */
  /* background-repeat: no-repeat; */
  /* object-fit: cover; */
  /* object-position: 50% 50%; */
  /* overflow: auto; */
  /* object-fit: cover; */
}

.square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
}

.header__square-pic  {
  position: absolute;
  top: 64px;
  right: 0px;
  z-index: 0;
}
